<h2>Middleware</h2>
<form method="POST">
    {{ form.csrf_token }}
    
    <h3>Konfiguration <br></h3>
    <p>ERP-System: {{info[0]}} </p>
    <p>Anlagen-Export: {{info[1]}} <br> Artikel-Nummer Wertebereich: {{info[4][0]}}-{{info[4][1]}}</p>
    <p>Invervall-Länge: {{info[2]}} {{info[3]}}</p>
    <p>Middleware aktiv: {{activ}} </p>
      
    
    <p>
        {{form.submit}} <br>
      
    </p>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(document).ajaxStop(function(){
            window.location.reload();
});
</script>

<div class='container'>    
        <form>
            <a href=# id=test><button class='btn btn-default'>Restart Job</button></a>
        </form>

</div>
{% if form.errors %}
    {{ form.errors }}
{% endif %}